#contact_modal {
    display: none;
}

body {
    padding: 43px 100px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 56px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.photograph-header h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}
.photograph-header img {
    height: 200px
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photograph-media img,
.photograph-media video {
    width: 350px;
    height: 351px;
    object-fit: cover;
}


.gallery-item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #901C1C;
  ;
}

#contact_modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000021;
    align-content: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    display: block;
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}