@import url("photographer.css");

html {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 43px 100px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;

}

a {
    text-decoration: none;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photographer_section a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

}

.photographer_section article p {
    margin: 0 0 3px 0;
}

.photographer_section article p:first-of-type {
    font-size: 13px;
    line-height: 17px;
    color: #901C1C;

}

.photographer_section article p:nth-of-type(2) {
    font-size: 10px;
    line-height: 13px;

}

.photographer_section article p:last-of-type {
    font-size: 9px;
    line-height: 12px;
    color: #757575
}